$primary_color:#3b4365;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: $primary_color;
}
a{
    text-decoration: none;
}

nav{
    
    width: 100%;
    display: flex;
flex: content;
align-items: baseline;
justify-content: space-around;
    img{
        width: 75px;
      }
}

#title{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}
#login_button{
    padding: 10px 25px;
    border: 2px solid $primary_color;
    border-radius: 5px;
}

